<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="page-header">
        <h2>View Notifications</h2>
      </div>

      <iframe src="/letter_opener" width="1000px" height="500px"> 

    </div>
  </div>
</div>
